body {
  background-image: url("./hbd.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100% 100%;
}
#konten {
  position: relative;
  top: 50px;
  transition: all 1s ease;
}
